name: Daily Mortgage Scrape

on:
  schedule:
    - cron: "0 8 * * *" # Täglich um 08:00 UTC
  workflow_dispatch: # Erlaubt es dir, den Scraper manuell per Klick zu starten

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run Scraper
        run: python scraper.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          # 1. Änderungen vormerken
          git add hypotheken.db

          # 2. Nur weitermachen, wenn sich die DB wirklich geändert hat
          git diff --quiet && git diff --staged --quiet || (
            # 3. Den neuesten Stand vom Server holen und lokale Änderungen oben drauf setzen
            git pull --rebase origin main
            
            # 4. Committen
            git commit -m "Automatisches Zins-Update: $(date +'%Y-%m-%d')"
            
            # 5. Pushen (mit Retry-Logik)
            git push origin main
          )
